<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @clip.title %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @clip.duration %>
</p>

<p>
  <strong>Url:</strong>
  <%= @clip.url %>
</p>

<p>
  <strong>Crew:</strong>
  <%= @clip.crew_id %>
</p>

<%= link_to 'Edit', edit_clip_path(@clip) %> |
<%= link_to 'Back', clips_path %>
